In [1]:
import timeit

In [2]:
import pandas as pd
import sqlalchemy as db
engine = db.create_engine('sqlite:///../data/RawHealthData.db')
connection = engine.connect()

In [8]:
start = timeit.default_timer()
# can be created as a view
sql = """
SELECT * 
FROM ihme_smoking_diseases i
INNER JOIN cause c
ON i.cause_id = c.key
"""
df = pd.read_sql_query(sql, con=engine)
stop = timeit.default_timer()

In [9]:
stop - start

9.8456161

In [11]:
df.head()

,level_0,index,measure_id,location_id,sex_id,age_id,cause_id,metric_id,year,val,upper,lower,level_0,index,key,value
0,0,0,1,103,2,25,643,3,1990,0.564989,0.719770,0.404403,9,9,643,Congenital heart anomalies
1,1,0,1,4763,3,21,411,1,1990,6.675725,7.607429,5.894457,42,42,411,Esophageal cancer
2,2,0,3,4654,2,11,504,1,1990,0.075829,0.173189,0.026618,174,174,504,Non-rheumatic valvular heart disease
3,3,0,25,4714,2,24,374,3,1993,5.986313,9.859939,3.333662,240,240,374,Ectopic pregnancy
4,4,1,1,103,3,25,643,3,1990,0.555441,0.644271,0.452272,9,9,643,Congenital heart anomalies